<section class="accordion-item bg-dark">
    <div class="accordion-header bg-dark" id="heading{{id}}">
        <div class="d-flex ps-4 align-items-center">
            <div class="w-20">
                {{>upvote}}
            </div>
            <button class="accordion-button bg-dark collapsed w-80" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}">
                <div class="d-flex align-items-center w-100">
                    <h1 class="display-5">{{title}}</h1>
                    <h2 class="lead ms-auto">By {{user.username}}</h2>
                </div>   
            </button>
        </div>
    </div>
    <div id="collapse{{id}}" class="accordion-collapse collapse bg-medium" aria-labelledby="heading{{id}}" data-bs-parent="#accordionMain">
        <div class="accordion-body text-start">
            {{body}}
        </div>
    </div>
</section>