
<div class="row align-items-center">
    {{#with article}}
    {{> upvote }}
    {{/with}}
    
    <div class="col-11">
        <div class="p-5 text-center">
            {{#if editable }}
            <a href="/articles/update/{{article.id}}">Edit this article</a>
            {{/if}}
            <h1 class="display-1">{{article.title}} </h1>
            <h2 class="lead">By {{article.user.username}}</h2>
            <h2 class="lead">{{formatDate article.createdAt}}</h2>
        </div>
        <p class="text-break">{{body}}</p>
    </div>
</div>

<hr>
<h2 class="display-5">Comments</h2>
<div class="form-group">
    <label for="comment-body">Post a Comment</label>
    <textarea class="form-control" id="comment-body" placeholder="Enter your comment here..."></textarea>
    <button type="button" class="btn btn-primary mt-2" id="submit-comment">Submit</button>
</div>
<div class="row">
    {{#each article.comments as |userComment|}}
    <div class="p-3">
        {{> comment }}
    </div>
    {{/each}}
</div>
